body {
    background-color: firebrick;
}

#header {
    text-align: center;
}

#dropdowns {
    background-color: slategray;
}


#categoryDropdownOutput {
    display: inline-block;
}

#typesDropdownOutput {
    display: inline-block;
}

.col-md-4 {
    color: white;
}